{
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 1,
  "maxLen": 100,
  "semi": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "arrayElementNewline": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}
