{
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 1,
  "maxLen": 150,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "arrayElementNewline": false
}
